# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/crash.log
**/crash.*.log
**/*.bak
**/*.tmp
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/

# Evidence / exports
evidence/out/
exports/
